# Exercise 02 -  OLAP Cubes - Slicing and Dicing

All the databases table in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

Start by creating and connecting to the database by running the cells below.

In [7]:
!PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila_star
!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila_star -f Data/pagila-star.sql

createdb: database creation failed: ERROR:  database "pagila_star" already exists
 set_config
------------

(1 row)

psql:Data/pagila-star.sql:42: ERROR:  type "mpaa_rating" already exists
psql:Data/pagila-star.sql:52: ERROR:  type "year" already exists
psql:Data/pagila-star.sql:69: ERROR:  function "_group_concat" already exists with same argument types
psql:Data/pagila-star.sql:86: ERROR:  function "film_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:103: ERROR:  function "film_not_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:148: ERROR:  function "get_customer_balance" already exists with same argument types
psql:Data/pagila-star.sql:170: ERROR:  function "inventory_held_by_customer" already exists with same argument types
psql:Data/pagila-star.sql:207: ERROR:  function "inventory_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:225: ERROR:  function "last_day" already exists with same argument types
psql:Data/pagila-star.sql:240: ERROR:  function "last_updated" already exists with same argument types
psql:Data/pagila-star.sql:264: ERROR:  relation "customer" already exists
psql:Data/pagila-star.sql:328: ERROR:  function "rewards_report" already exists with same argument types
psql:Data/pagila-star.sql:340: ERROR:  function "group_concat" already exists with same argument types
psql:Data/pagila-star.sql:354: ERROR:  relation "actor_actor_id_seq" already exists
psql:Data/pagila-star.sql:368: ERROR:  relation "actor" already exists
psql:Data/pagila-star.sql:382: ERROR:  relation "category_category_id_seq" already exists
psql:Data/pagila-star.sql:395: ERROR:  relation "category" already exists
psql:Data/pagila-star.sql:409: ERROR:  relation "film_film_id_seq" already exists
psql:Data/pagila-star.sql:433: ERROR:  relation "film" already exists
psql:Data/pagila-star.sql:446: ERROR:  relation "film_actor" already exists
psql:Data/pagila-star.sql:459: ERROR:  relation "film_category" already exists
psql:Data/pagila-star.sql:482: ERROR:  relation "actor_info" already exists
psql:Data/pagila-star.sql:496: ERROR:  relation "address_address_id_seq" already exists
psql:Data/pagila-star.sql:514: ERROR:  relation "address" already exists
psql:Data/pagila-star.sql:528: ERROR:  relation "city_city_id_seq" already exists
psql:Data/pagila-star.sql:542: ERROR:  relation "city" already exists
psql:Data/pagila-star.sql:556: ERROR:  relation "country_country_id_seq" already exists
psql:Data/pagila-star.sql:569: ERROR:  relation "country" already exists
psql:Data/pagila-star.sql:583: ERROR:  relation "customer_customer_id_seq" already exists
psql:Data/pagila-star.sql:597: ERROR:  relation "customer_customer_id_seq1" already exists
psql:Data/pagila-star.sql:629: ERROR:  relation "customer_list" already exists
psql:Data/pagila-star.sql:655: ERROR:  relation "dimcustomer" already exists
psql:Data/pagila-star.sql:669: ERROR:  relation "dimcustomer_customer_key_seq" already exists
psql:Data/pagila-star.sql:694: ERROR:  relation "dimdate" already exists
psql:Data/pagila-star.sql:715: ERROR:  relation "dimmovie" already exists
psql:Data/pagila-star.sql:729: ERROR:  relation "dimmovie_movie_key_seq" already exists
psql:Data/pagila-star.sql:758: ERROR:  relation "dimstore" already exists
psql:Data/pagila-star.sql:772: ERROR:  relation "dimstore_store_key_seq" already exists
psql:Data/pagila-star.sql:795: ERROR:  relation "factsales" already exists
psql:Data/pagila-star.sql:818: ERROR:  relation "film_list" already exists
psql:Data/pagila-star.sql:832: ERROR:  relation "inventory_inventory_id_seq" already exists
psql:Data/pagila-star.sql:846: ERROR:  relation "inventory" already exists
psql:Data/pagila-star.sql:860: ERROR:  relation "language_language_id_seq" already exists
psql:Data/pagila-star.sql:873: ERROR:  relation "language" already exists
psql:Data/pagila-star.sql:896: ERROR:  relation "nicer_but_slower_film_list" already exists
psql:Data/pagila-star.sql:910: ERROR:  relation "payment_payment_id_seq" already exists
psql:Data/pagila-star.sql:926: ERROR:  relation "payment" already exists
psql:Data/pagila-star.sql:940: ERROR:  relation "rental_rental_id_seq" already exists
psql:Data/pagila-star.sql:957: ERROR:  relation "rental" already exists
psql:Data/pagila-star.sql:976: ERROR:  relation "sales_by_film_category" already exists
psql:Data/pagila-star.sql:990: ERROR:  relation "staff_staff_id_seq" already exists
psql:Data/pagila-star.sql:1011: ERROR:  relation "staff" already exists
psql:Data/pagila-star.sql:1025: ERROR:  relation "store_store_id_seq" already exists
psql:Data/pagila-star.sql:1039: ERROR:  relation "store" already exists
psql:Data/pagila-star.sql:1061: ERROR:  relation "sales_by_store" already exists
psql:Data/pagila-star.sql:1082: ERROR:  relation "staff_list" already exists
psql:Data/pagila-star.sql:1320: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
 setval
--------
    200
(1 row)

psql:Data/pagila-star.sql:1938: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
 setval
--------
    605
(1 row)

psql:Data/pagila-star.sql:1969: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
 setval
--------
     16
(1 row)

psql:Data/pagila-star.sql:2584: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
 setval
--------
    600
(1 row)

psql:Data/pagila-star.sql:2708: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
 setval
--------
    109
(1 row)

psql:Data/pagila-star.sql:3322: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:3943: ERROR:  duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(1) already exists.
CONTEXT:  COPY dimcustomer, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:3998: ERROR:  duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20170407) already exists.
CONTEXT:  COPY dimdate, line 1
psql:Data/pagila-star.sql:5006: ERROR:  duplicate key value violates unique constraint "dimmovie_pkey"
DETAIL:  Key (movie_key)=(1) already exists.
CONTEXT:  COPY dimmovie, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:5023: ERROR:  duplicate key value violates unique constraint "dimstore_pkey"
DETAIL:  Key (store_key)=(1) already exists.
CONTEXT:  COPY dimstore, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:6046: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:Data/pagila-star.sql:11516: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:Data/pagila-star.sql:12524: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
 setval
--------
   1000
(1 row)

psql:Data/pagila-star.sql:17120: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
 setval
--------
   4581
(1 row)

psql:Data/pagila-star.sql:17141: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

psql:Data/pagila-star.sql:113460: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
 setval
--------
  16049
(1 row)

psql:Data/pagila-star.sql:113477: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:113494: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:113509: ERROR:  multiple primary keys for table "actor" are not allowed
psql:Data/pagila-star.sql:113517: ERROR:  multiple primary keys for table "address" are not allowed
psql:Data/pagila-star.sql:113525: ERROR:  multiple primary keys for table "category" are not allowed
psql:Data/pagila-star.sql:113533: ERROR:  multiple primary keys for table "city" are not allowed
psql:Data/pagila-star.sql:113541: ERROR:  multiple primary keys for table "country" are not allowed
psql:Data/pagila-star.sql:113549: ERROR:  multiple primary keys for table "customer" are not allowed
psql:Data/pagila-star.sql:113557: ERROR:  multiple primary keys for table "dimcustomer" are not allowed
psql:Data/pagila-star.sql:113565: ERROR:  multiple primary keys for table "dimdate" are not allowed
psql:Data/pagila-star.sql:113573: ERROR:  multiple primary keys for table "dimmovie" are not allowed
psql:Data/pagila-star.sql:113581: ERROR:  multiple primary keys for table "dimstore" are not allowed
psql:Data/pagila-star.sql:113589: ERROR:  multiple primary keys for table "factsales" are not allowed
psql:Data/pagila-star.sql:113597: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:Data/pagila-star.sql:113605: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:Data/pagila-star.sql:113613: ERROR:  multiple primary keys for table "film" are not allowed
psql:Data/pagila-star.sql:113621: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:Data/pagila-star.sql:113629: ERROR:  multiple primary keys for table "language" are not allowed
psql:Data/pagila-star.sql:113637: ERROR:  multiple primary keys for table "rental" are not allowed
psql:Data/pagila-star.sql:113645: ERROR:  multiple primary keys for table "staff" are not allowed
psql:Data/pagila-star.sql:113653: ERROR:  multiple primary keys for table "store" are not allowed
psql:Data/pagila-star.sql:113660: ERROR:  relation "film_fulltext_idx" already exists
psql:Data/pagila-star.sql:113667: ERROR:  relation "idx_actor_last_name" already exists
psql:Data/pagila-star.sql:113674: ERROR:  relation "idx_fk_address_id" already exists
psql:Data/pagila-star.sql:113681: ERROR:  relation "idx_fk_city_id" already exists
psql:Data/pagila-star.sql:113688: ERROR:  relation "idx_fk_country_id" already exists
psql:Data/pagila-star.sql:113695: ERROR:  relation "idx_fk_customer_id" already exists
psql:Data/pagila-star.sql:113702: ERROR:  relation "idx_fk_film_id" already exists
psql:Data/pagila-star.sql:113709: ERROR:  relation "idx_fk_inventory_id" already exists
psql:Data/pagila-star.sql:113716: ERROR:  relation "idx_fk_language_id" already exists
psql:Data/pagila-star.sql:113723: ERROR:  relation "idx_fk_original_language_id" already exists
psql:Data/pagila-star.sql:113730: ERROR:  relation "idx_fk_payment_customer_id" already exists
psql:Data/pagila-star.sql:113737: ERROR:  relation "idx_fk_payment_staff_id" already exists
psql:Data/pagila-star.sql:113744: ERROR:  relation "idx_fk_store_id" already exists
psql:Data/pagila-star.sql:113751: ERROR:  relation "idx_last_name" already exists
psql:Data/pagila-star.sql:113758: ERROR:  relation "idx_store_id_film_id" already exists
psql:Data/pagila-star.sql:113765: ERROR:  relation "idx_title" already exists
psql:Data/pagila-star.sql:113772: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:Data/pagila-star.sql:113779: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:Data/pagila-star.sql:113786: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:Data/pagila-star.sql:113793: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:Data/pagila-star.sql:113800: ERROR:  trigger "last_updated" for relation "address" already exists
psql:Data/pagila-star.sql:113807: ERROR:  trigger "last_updated" for relation "category" already exists
psql:Data/pagila-star.sql:113814: ERROR:  trigger "last_updated" for relation "city" already exists
psql:Data/pagila-star.sql:113821: ERROR:  trigger "last_updated" for relation "country" already exists
psql:Data/pagila-star.sql:113828: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:Data/pagila-star.sql:113835: ERROR:  trigger "last_updated" for relation "film" already exists
psql:Data/pagila-star.sql:113842: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:Data/pagila-star.sql:113849: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:Data/pagila-star.sql:113856: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:Data/pagila-star.sql:113863: ERROR:  trigger "last_updated" for relation "language" already exists
psql:Data/pagila-star.sql:113870: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:Data/pagila-star.sql:113877: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:Data/pagila-star.sql:113884: ERROR:  trigger "last_updated" for relation "store" already exists
psql:Data/pagila-star.sql:113892: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:Data/pagila-star.sql:113900: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:Data/pagila-star.sql:113908: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:113916: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:113924: ERROR:  constraint "factsales_customer_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:113932: ERROR:  constraint "factsales_date_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:113940: ERROR:  constraint "factsales_movie_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:113948: ERROR:  constraint "factsales_store_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:113956: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:113964: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:113972: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:113980: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:113988: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:113996: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:114004: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:114012: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:114020: ERROR:  constraint "payment_customer_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:114028: ERROR:  constraint "payment_rental_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:114036: ERROR:  constraint "payment_staff_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:114044: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:114052: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:114060: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:114068: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:114076: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:114084: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists

### Connect to the local database where Pagila is loaded

In [8]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://student:student@127.0.0.1:5432/pagila_star

'Connected: student@pagila_star'

### Star Schema

<img src="pagila-star.png" width="50%"/>

# Start with a simple cube
TODO: Write a query that calculates the revenue (sales_amount) by day, rating, and city. Remember to join with the appropriate dimension tables to replace the keys with the dimension labels. Sort by revenue in descending order and limit to the first 20 rows. The first few rows of your output should match the table below.

In [11]:
%%time
%%sql

SELECT d.day,m.rating,c.city,SUM(s.sales_amount) AS revenue
FROM factsales s
JOIN dimdate d ON s.date_key = d.date_key
JOIN dimmovie m ON s.movie_key = m.movie_key
JOIN dimcustomer c ON s.customer_key = c.customer_key
GROUP BY (d.day,m.rating,c.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
0 rows affected.
CPU times: user 0 ns, sys: 2.38 ms, total: 2.38 ms
Wall time: 5.26 ms

[]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>city</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>San Bernardino</td>
        <td>24.97</td>
    </tr>
    <tr>
        <td>30</td>
        <td>NC-17</td>
        <td>Apeldoorn</td>
        <td>23.95</td>
    </tr>
    <tr>
        <td>21</td>
        <td>NC-17</td>
        <td>Belm</td>
        <td>22.97</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Zanzibar</td>
        <td>21.97</td>
    </tr>
    <tr>
        <td>28</td>
        <td>R</td>
        <td>Mwanza</td>
        <td>21.97</td>
    </tr>
</tbody></table></div>

## Slicing

Slicing is the reduction of the dimensionality of a cube by 1 e.g. 3 dimensions to 2, fixing one of the dimensions to a single value. In the example above, we have a 3-dimensional cube on day, rating, and country.

TODO: Write a query that reduces the dimensionality of the above example by limiting the results to only include movies with a `rating` of "PG-13". Again, sort by revenue in descending order and limit to the first 20 rows. The first few rows of your output should match the table below.

In [13]:
%%time
%%sql

SELECT d.day,m.rating,c.city,SUM(s.sales_amount) AS revenue
FROM factsales s
JOIN dimdate d ON s.date_key = d.date_key
JOIN dimmovie m ON s.movie_key = m.movie_key
JOIN dimcustomer c ON s.customer_key = c.customer_key
WHERE m.rating = 'PG-13'
GROUP BY (d.day,m.rating,c.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
0 rows affected.
CPU times: user 5.14 ms, sys: 0 ns, total: 5.14 ms
Wall time: 7.33 ms

[]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>city</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Zanzibar</td>
        <td>21.97</td>
    </tr>
    <tr>
        <td>28</td>
        <td>PG-13</td>
        <td>Dhaka</td>
        <td>19.97</td>
    </tr>
    <tr>
        <td>29</td>
        <td>PG-13</td>
        <td>Shimoga</td>
        <td>18.97</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Osmaniye</td>
        <td>18.97</td>
    </tr>
    <tr>
        <td>21</td>
        <td>PG-13</td>
        <td>Asuncin</td>
        <td>18.95</td>
    </tr>
</tbody></table></div>

## Dicing
Dicing is creating a subcube with the same dimensionality but fewer values for  two or more dimensions. 

TODO: Write a query to create a subcube of the initial cube that includes moves with:
* ratings of PG or PG-13
* in the city of Bellevue or Lancaster
* day equal to 1, 15, or 30

The first few rows of your output should match the table below.

In [14]:
%%time
%%sql

SELECT d.day,m.rating,c.city,SUM(s.sales_amount) AS revenue
FROM factsales s
JOIN dimdate d ON s.date_key = d.date_key
JOIN dimmovie m ON s.movie_key = m.movie_key
JOIN dimcustomer c ON s.customer_key = c.customer_key
WHERE m.rating in ('PG-13','PG')
AND c.city in ('Bellevue','Lancaster')
AND d.day in (1,15,30)
GROUP BY (d.day,m.rating,c.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
0 rows affected.
CPU times: user 6.06 ms, sys: 0 ns, total: 6.06 ms
Wall time: 8.82 ms

[]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>city</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>PG</td>
        <td>Lancaster</td>
        <td>12.98</td>
    </tr>
    <tr>
        <td>1</td>
        <td>PG-13</td>
        <td>Lancaster</td>
        <td>5.99</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Bellevue</td>
        <td>3.99</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Lancaster</td>
        <td>2.99</td>
    </tr>
    <tr>
        <td>15</td>
        <td>PG-13</td>
        <td>Bellevue</td>
        <td>1.98</td>
    </tr>
</tbody></table></div>